html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding-bottom: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #212121;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: #212121;
  }
  
  .Header {
    height: 60px;
    padding: 18px 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
     background-image: repeating-linear-gradient(
        -45deg,
        #c6e965,
        #7bd4eb 15px,
        #fcfcfc 15px,
        #fcfcfc 30px
      );
  }
  
  .Navigation {
    line-height: 1.18;
    font-weight: 700;
    font-size: 22px;

  }
  
  .Home {
    margin-right: 20px;
  }
  
  .ActiveLinkNav {
    color: #c70039;
    margin-right: 20px;
  }